body {
    background-image: url("img/bg.jpg");
    background-attachment: fixed;
    min-width: 640px;
    width: 75%;
    margin: 50px auto;
}
header, footer {
    background-color: white;
    min-width: 640px;
    width: 75%;
    box-shadow: 3px 3px rgba(0, 0, 0, 0.32);
    border-radius: 10px;
    height: 60px;
    margin: 0 auto 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
a {
    cursor: pointer;
}
a.logo {
    text-decoration: none;
    color: #1f3a6e;
    font-weight: bold;
    font-size: 22px;
}
.nav-div {
    display: flex;
    flex-direction: row;
    height: 100%;
}
.nav-links{
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 15px;
}
.nav-links a {
    text-decoration: none;
}
.nav-links:hover {
    background-color: #ebe8ff;
}
header img, footer img {
    height: 50px;
    border-radius: 30%;
    margin-right: 5px;
}
.view-wrap {
    background-color: white;
    box-shadow: 3px 3px rgba(0, 0, 0, 0.32);
    border-radius: 10px;
    min-width: 640px;
    width: 75%;
    padding: 5px;
    margin: 0 auto 15px;
}

/*article-list*/
.short-article {
    border: 2px solid #ebe8ff;
    border-radius: 5px;
    padding: 15px;
    margin: 5px 0;
}
.name-author {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.short-article-text {
    padding: 10px;
}
nav.pagination-div {
    text-align: center;
}
.search_tag {
    width: 50%;
}

/*article*/
.article-div {
    padding: 10px;
}
.comment-div {
    border: 2px solid #ebe8ff;
    border-radius: 5px;
    padding: 15px;
    margin: 5px 0;
    width: 50%;
}
.comment-text {
    font-size: 16px;
}
textarea {
    resize: none;
}
.comment-form {
    width: 50%;
}

/*set-profile*/
.profile-info {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 15px 0;
}
.img-div, .profile-data {
    width: 50%;
    min-width: 310px;
    display: flex;
    align-items: center;
}
.img-div img {
    width: 280px;
}
.profile-form {
    width: 50%;
    max-width: 320px;
}
.profile-data {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 20px;
    margin-left: 10px;
}
.profile-form .ng-invalid.ng-dirty {
    border-color: red;
}
.profile-form .ng-valid.ng-dirty {
    border-color: green;
}
.form-alert {
    color: red;
}