<input type="text" class="form-control search_tag" ng-model="tag" placeholder="поиск по тегу" ng-change="editTag()">
<div ng-repeat="article in visibleArticles" class="short-article">
  <h3> {{ article.caption }} </h3>
  <div class="name-author">
    <p><small>Дата публикации:</small> <i>{{ article.date | date: 'dd/MM/yyyy hh:mm' }}</i> </p>
    <p><small>Автор:</small> <i>{{ $root.profileName }}</i> </p>
  </div>
  <p class="short-article-text"> {{ article.text | limitTo:200 }}
    <a rel="shortcut icon" href="#!article/{{ article._id }}">...Читать дальше</a>
  </p>
  <div class="name-author">
    <p><small>Теги: </small><i>{{ article.tags }}</i> </p>
    <p><small>Комментариев: </small><i>{{ article.comments.length }}</i> </p>
  </div>
</div>

<nav aria-label="Page navigation" class="pagination-div" ng-if="paginationFlag">
  <ul class="pagination">
      <li class="page-item" id="{{page}}" ng-click="showPages( page )" ng-repeat="page in pageList">
        <a class="page-link">{{ page }}</a>
      </li>
  </ul>
</nav>

