<form>
  <div class="form-group">
    <label for="caption">Заголовок статьи</label>
    <input type="text" class="form-control" id="caption" ng-model="caption">
  </div>
  <div class="form-group">
    <label for="text">Текст статьи</label>
    <textarea class="form-control" id="text" rows="15" ng-model="text"></textarea>
  </div>
  <div class="form-group">
    <label for="tags">Тэги к статье</label>
    <input type="text" class="form-control" id="tags" ng-model="tags">
  </div>
  
  <h5>Стандартные тэги</h5>
  <div class="btn-group" role="group">
    <button id="defaultTag1" ng-click="addTag('defaultTag1')" type="button" class="btn btn-default">Природа</button>
    <button id="defaultTag2" ng-click="addTag('defaultTag2')" type="button" class="btn btn-default">Холод</button>
    <button id="defaultTag3" ng-click="addTag('defaultTag3')" type="button" class="btn btn-default">JavaScript</button>
    <button id="defaultTag4" ng-click="addTag('defaultTag4')" type="button" class="btn btn-default">Осень</button>
    <button id="defaultTag5" ng-click="addTag('defaultTag5')" type="button" class="btn btn-default">Ветер</button>
  </div>
  
  <p><i>Автор:</i> {{$root.profileName}}</p>
  
  <button class="btn btn-success" type="submit" ng-click="addArticle()">Сохранить статью</button>
</form>